body{
    background-image: url('Resources/galaxy.png');
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

#canvas{
    background-image: url('Resources/galaxy.png');
    background-size: cover;
    margin: 0%;
    border:0%;
    padding: 0%;
}