body{
    margin: 0;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 52));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}
.asteroid {
    position: absolute;
    width: 40px; /* Adjust asteroid width */
    height: 40px; /* Adjust asteroid height */
    background-image: url('/Resources/asteroid1.png'); /* Replace with your image path */
    background-size: cover;
}


#Container{
    position: relative;
    text-align: center;
    top: 30vh;
}

#Title {
    position: relative;
    color: rgb(255, 255, 255);
    top: -70px;
    font-size: 70px;
    text-shadow: 1px 1px 4px rgb(0, 0, 255), 0 0 4em blue, 0 0 1em blue;
    margin-left: 50%; /* Center the text horizontally */
    transform: translateX(-50%); /* Center the text horizontally */
}


#Play{
    background-color: rgb(6, 6, 129);
    color: rgb(255, 255, 255);
    font-size: large;
    border: 3px solid black;
    width: 200px;
    height: 50px;
    border-radius: 25cm;
}

#Play:hover{
    transition-duration: 250ms;
    transition-delay: 50ms;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 255);
    box-shadow: rgb(255, 255, 255) 0 0 .5vw .1vw,
                rgb(0, 0, 175) 0 0 1.5vw .3vw,
                rgb(0, 0, 150) 0 0 2vw .5vw,
                rgb(0, 0, 100) 0 0 2vw .75vw,
                rgb(0, 0, 50) 0 0 3vw 1vw;
    border: .2vw outset white;
}

#Description {
    background-color: rgb(1, 1, 33);
    margin: 30px auto 0; /* Center horizontally and move 30px down vertically */
    width: fit-content;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: medium;
}

#Credits {
    position: fixed;
    top: 90%;
    left: 5%;
    color: white;
}

#Version {
    position: fixed;
    color: white;
    font-size: large;
    top: 90%;
    right: 5%;
}


